body {
    background-color: slategray;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto; /* Center the form with margin */
    max-width: 400px; /* Optional: Set a max width for the form */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px; /* Add space below each label */
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px; /* Add space below each input field */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.center {
    text-align: center;
    margin-top: 20px; /* Add space above the submit button */
}

input[type="submit"] {
    padding: 10px 20px; /* Add padding to the submit button */
    border: none;
    border-radius: 5px; /* Add rounded edges to the submit button */
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
input[type="checkbox"] {
    border-radius: 5px; /* Add rounded edges to the checkbox */
}

#outputContainer {
    text-align: center;
}

/* Style the output text as h2 */
#outputContainer h2 {
    font-size: 1.5em; /* Adjust font size as needed */
    color: #333; /* Set text color as needed */
    /* Add any other styling properties as needed */
}

.button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="reset"] {
    padding: 10px 20px; /* Add padding to the submit button */
    border: none;
    border-radius: 5px; /* Add rounded edges to the submit button */
    background-color: #d23906;
    color: white;
    cursor: pointer;
}